<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Moment 2 - @ViewData["title"]</title>
</head>
<body>
        <header>
            <div>
                <div class="heading">
                <a class="navbar-brand" href="">Moment 2</a>
            </div>
        </div>
        <div class="navMenu">
            <partial name="_NavMenu" />
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <partial name="_Footer" />
    </footer>
<script src="js/main.js"></script>
</body>
</html>