<nav>
    <ul>
        <div class="nav-item">
        <li><a asp-controller="Home" asp-action="Index">Startsida</a></li>
    </div>
    <div class="nav-item">
        <li><a asp-controller="Home" asp-action="Books">Lägg till bok</a></li>
    </div>
    <div class="nav-item">
        <li><a asp-controller="Home" asp-action="About">Om sidan</a></li>
    </div>
    </ul>
</nav>